.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

.spacer {
  flex: 1 1 auto;
}

.block {
  display: block;
}

.sidenav {
  width: 300px;
  min-height: 100%;
  overflow: auto;
}

.black {
  color: black;
}

table {
  width: 100%;
}

.table-section {
  height: calc(100% - 56px);
  overflow: auto;
}

.pager-section {
  background-color: #eeeeee;
  height: 56px;
  overflow: auto;
}

.selected-row:hover {
  background: #f5f5f5;
}

.table-header-bg {
  background-color: #eeeeee;
}

mat-accordion {
  height: 200px;
  overflow: auto;
}

.nav-condition {
  height: calc(100% - 65px);
  overflow: auto;
}

.nav-toolbar {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

/**card**/
.example-card {
  max-width: 400px;
}

.summary-label {
  width: 70%;
  font-size: 15px;
  color: gray;
  text-align: left;
}

.summary-number {
  width: 30%;
  font-size: 26px;
  font-weight: bolder;
  color:dodgerblue;
  text-align: left;
}

.summary-sign{
  font-size: 12px;
}

