<h2 mat-dialog-title>Attendence Detail</h2>
<mat-dialog-content class="mat-typography">
  <mat-form-field class="dialog-detail" disabled>
    <input matInput disabled placeholder="Employee Name"
           [value]="data.info.name">
  </mat-form-field>
  <mat-form-field class="dialog-detail">
    <input matInput disabled placeholder="Team" [(value)]="data.info.team">
  </mat-form-field>
  <mat-form-field class="dialog-detail">
    <input matInput disabled placeholder="Email" [(value)]="data.info.email">
  </mat-form-field>

  <div style="display: block;">
    <canvas baseChart
            [datasets]="data.chart.data"
            [labels]="data.chart.labels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>OK</button>
</mat-dialog-actions>



