<h2 mat-dialog-title>Install Angular</h2>
<mat-dialog-content class="mat-typography">
  <mat-form-field>
    <input matInput placeholder="Name" [(value)]="data.name">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Weight" [(value)]="data.weight">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Symbol" [(value)]="data.symbol">
  </mat-form-field>

  <div style="display: block;">
    <canvas baseChart
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions>


